<p>
  Aqui vemos el detalle de un destino de un viaje!
  <br>
  {{ destino.id }}
  <br>
  {{ destino.nombre }}
</p>
<hr>
<mgl-map [style]="style" [zoom]="[2]" style="height: 50vh; width: 100vw;">
  <mgl-marker [lngLat]="[-75.551012, 10.421185]">
    <div onclick="alert('Hola')" class="marker">
      Hola mundo!
    </div>
  </mgl-marker>
</mgl-map>
